html {
  font-size: 12px;
}
.Signin{
  text-align: left;
}
.Registration{
  text-align: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.woodyPicture{
  max-height: 200px;
}
.ArticlePage{
  text-align: justify;
}
.BadgeTotal{
  min-width: 10px;
  padding: 8px 9px;
  font-size: 14px;
  background-color: #23a03f;
}
.sort-arrow{
  display: none;
}
.sort_link:hover .sort-arrow{
  display: inline;
}
.sort_link:hover {
  text-decoration: none;
}
.App-header {
  background-color: #e6e4e4;
  height: 160px;
  padding: 20px;
  color: blue;
  text-align: center;
}
.image_preview{
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 10px
}
.upload_image{
  max-width: 60px;
  margin-bottom: 10px
}
.article_image{
  max-height: 85px;
}
.front_image_show{
  max-height: 250px;
}
@media (max-width: 768px){
  .front_image_show{
    max-width: 300px;
    max-height: 200px;
  }
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
.App-title {
  font-size: 1.5em;
  color: #338fd4;
}

.App-intro {
  font-size: large;
}
